*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.btn:focus{
    outline: none;
}

.btn:hover{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    
}

a:hover{
    color: black;
}

.black_color{
    color: black;
}

.list_none{
    list-style: none;
}

.container{
    width: 95%;
    margin: auto;
}

header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    height: 100%;
    display: flex;
    
}

nav ul li:not(:last-child){
    margin-right: 30px;;
}

img{
    height: 100%;
}

.main_list{
    display: flex;
    align-items: center;
}

.dropdown{
    display: none;
    position: relative;
}

.dropdown_active{
    display: block;
}

.dropdown ul{
    position: absolute;
    top: 10px;
    padding: 20px;
    background-color: grey;
    border-radius: 15px;
    
}

